*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Cascadia Mono";
    color:white;
    background-color: #1D1D1D;
}

nav{
    background-color: #1D1D1D;
    z-index:1;
    height:100px;
}

#home{}
#about{}
#projects{}
#education{}
#testimonials{}
#contact{}

section{
    padding:100px 10%;
}

#banner{
    padding-top:15vh;
}

#banner img{
    margin-top:10px;
    width:70%;
    height:auto;
}

#about img{
    width:70%;
    height:auto;
}
ul #n a{
    color:white;
    font-size:23px;
    transition: 1s;
    border-bottom:solid 2px transparent;
}
    
ul #n a:hover{
    color:#009900;
    animation: underline 1.2s ease 1 forwards;
}

@keyframes underline{
    from{
        border-bottom:solid 2px transparent;
    }
    to{
        border-bottom:solid 2px #009900;
    }
}

#h1{
    color:#009900;
}

h2{
    font-size:35px;
    color:#009900;
}

i{
    margin-top:10px;
    font-size:30px;
    color:white;
    padding:5px;
}

.linkedIn{
    transition: 2s;
}

.github{
    transition: 2s;
}

.behance{
    transition: 2s;
}

.linkedIn:hover{
    background-color: blue;
    border-radius:50%;  
}

.github:hover{
    background-color: #696969;
    border-radius:50%; 
}

.behance:hover{
    background-color: dodgerblue;
    border-radius:50%;
}

article{
    padding-top:10vh;
}

.school{
    width:300px;
    height:300px;
    background-color: black;
    box-shadow:2px 5px 4px #009900;
    padding:20px;
    border-radius: 10%;
}


.college{
    width:300px;
    height:300px;
    background-color: black;
    box-shadow:2px 5px 4px #009900;
    padding:20px;
    border-radius: 10%;
}

.life-choices{
    width:300px;
    height:300px;
    background-color:black ;
    box-shadow:2px 5px 4px #009900;
    padding:20px;
    border-radius: 10%;
}


.school img{
    width:60px;
    height:60px;
    border-radius:50%;
}

.college img{
    width:60px;
    height:60px;
    border-radius:50%;
}

.life-choices img{
    width:60px;
    height:60px;
    border-radius:50%;
}

.timeline-start{
    background-color: #009900;
    width:2px;
    height:100%;
    margin:auto;
}


.timeline-middle{
    background-color: #009900;
    width:2px;
    height:100%;
    margin:auto;
}

.timeline-end{
    background-color: #009900;
    width:2px;
    height:100%;
    margin:auto;
}

.timeline-start i{
    color:#009900;
}

.timeline-end i{
    color:#009900;
}

article i{
    font-size:50px;
    padding:5px;
    transition: 1s;
}

.skills{
    width:200px;
    height:200px;
    background-color: black;
    border-radius:50%;
    z-index:0;
    box-shadow: none;
    text-align: center;
    transition: 1.5s;
}

#html:hover{
    box-shadow: 2px 3px red;
}

#css:hover{
    box-shadow: 2px 3px dodgerblue;
}

#git:hover{
    box-shadow: 2px 3px orangered;
}

#bootstrap:hover{
    box-shadow: 2px 3px purple;
}

#team:hover{
    box-shadow: 2px 3px blue;
}

#ears:hover{
    box-shadow: 2px 3px yellowgreen;
}

#mobile:hover{
    box-shadow: 2px 3px burlywood;
}

#microphone:hover{
    box-shadow: 2px 3px #696969;
}

.skills:hover{
    cursor:pointer;
}

.skills:hover > .la-html5{
    cursor: pointer;
    color:red;
    background-color: white;
    border-radius:50%;
    box-shadow: 2px 3px red;
}

.skills:hover > .la-css3-alt{
    cursor: pointer;
    color:dodgerblue;
    background-color: white;
    border-radius:50%;
    box-shadow: 2px 3px dodgerblue;
}

.skills:hover > .la-git{
    cursor: pointer;
    color:orangered;
    background-color: white;
    border-radius:50%;
    box-shadow: 2px 3px orangered;
}

.skills:hover > .la-bootstrap{
    cursor: pointer;
    color:purple;
    background-color: white;
    border-radius:50%;
    box-shadow: 2px 3px purple;
}

.skills:hover > .la-users{
    cursor: pointer;
    color:blue;
    background-color: white;
    border-radius:50%;
    box-shadow: 2px 3px blue;
}

.skills:hover > .la-assistive-listening-systems{
    cursor: pointer;
    color:yellowgreen;
    background-color: white;
    border-radius:50%;
    box-shadow: 2px 3px yellowgreen;
}

.skills:hover > .la-mobile{
    cursor: pointer;
    color:burlywood;
    background-color: white;
    border-radius:50%;
    box-shadow: 2px 3px burlywood;
}

.skills:hover > .la-microphone{
    cursor: pointer;
    color:#696969;
    background-color: white;
    border-radius:50%;
    box-shadow: 2px 3px #696969;
}

h4{
    color:#009900;
}

.email > a{
    text-decoration: none;
    color:white;
}

.email > a:hover{
    text-decoration: underline;
}

.send button{
    padding:5px;
    background-color: transparent;
    color:white;
    border-radius:30px;
    transition: 1s;
}

.send button:hover{
    background-color: #009900;
    box-shadow:5px 5px rgb(0, 0, 0);
    color: white;
    transform: translateY(-5px);
}

.projects button{
    color:white;
}

.projects button:hover{
    color:white;
    background-color: #009900;
}

@media screen and (max-width:720px) {
    .timeline-start{
        background-color: transparent;
        width:2px;
        height:100%;
        margin:auto;
    }
    
    
    .timeline-middle{
        background-color: transparent;
        width:2px;
        height:100%;
        margin:auto;
    }
    
    .timeline-end{
        background-color: transparent;
        width:2px;
        height:100%;
        margin:auto;
    }
}

@media screen and (max-width:300px) {
    .timeline-start{
        background-color: transparent;
        width:2px;
        height:100%;
        margin:auto;
    }
    
    
    .timeline-middle{
        background-color: transparent;
        width:2px;
        height:100%;
        margin:auto;
    }
    
    .timeline-end{
        background-color: transparent;
        width:2px;
        height:100%;
        margin:auto;
    }
}