*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Cascadia Mono";
    color:white;
    /* background-image:url('https://c0dingforfun.github.io/portfolioimg/output-onlinegiftools.gif');
    background-size: cover;
    background-attachment: fixed; */
    background-color: #1D1D1D;
}

nav{
    background-color: #1D1D1D;
    z-index:1;
    height:100px;
}

#home{}
#about{}
#projects{}
#education{}
#testimonials{}
#contact{}

section{
    padding:100px 10%;
}

#banner{
    padding-top:30vh;
}

ul #n a{
    color:white;
    font-size:23px;
    transition: 1s;
    border-bottom:solid 2px transparent;
}
    
ul #n a:hover{
    color:#009900;
    animation: underline 1.2s ease 1 forwards;
}

@keyframes underline{
    from{
        border-bottom:solid 2px transparent;
    }
    to{
        border-bottom:solid 2px #009900;
    }
}

#h1{
    color:#009900;
}

h2{
    color:#009900;
}

i{
    margin-top:10px;
    font-size:30px;
    color:white;
    padding:5px;
}

.linkedIn{
    transition: 2s;
}

.github{
    transition: 2s;
}

.behance{
    transition: 2s;
}

.linkedIn:hover{
    background-color: blue;
    border-radius:50%;  
}

.github:hover{
    background-color: #696969;
    border-radius:50%; 
}

.behance:hover{
    background-color: dodgerblue;
    border-radius:50%;
}

article{
    padding-top:10vh;
}

.school{
    width:300px;
    height:300px;
    background-color: #2a2828;
    box-shadow:2px 5px 4px #009900;
    padding:20px;
    border-radius: 10%;
}

.college{
    width:300px;
    height:300px;
    background-color: #2a2828;
    box-shadow:2px 5px 4px #009900;
    padding:20px;
    border-radius: 10%;
}

.life-choices{
    width:300px;
    height:300px;
    background-color: #2a2828;
    box-shadow:2px 5px 4px #009900;
    padding:20px;
    border-radius: 10%;
}


.timeline-start{
    background-color: #009900;
    width:2px;
    height:100%;
    margin:auto;
}

.timeline-middle{
    background-color: #009900;
    width:2px;
    height:100%;
    margin:auto;
}

.timeline-end{
    background-color: #009900;
    width:2px;
    height:100%;
    margin:auto;
}